.leftnav {
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    height: 100vh;
    position: fixed;
    min-width: 200px;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: white;
}
.leftnav ul {
    z-index: 0;
    margin-top: 100px;
    
}
.leftnav li {
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    width: 20vw;
    cursor: pointer; 
    text-decoration: none;
    
}
.leftnav img {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
}



.leftnav li:hover {
    background-color: lightgray;
    color: black;
}

.leftnav li.active {
   background-color: lightgray; 
}

